body {
    text-align: center;
}

.container {
    border: 2 px;
    background: #122133;
    text-align: center;
}

<<<<<<< HEAD
header{
    background-color: aqua;
=======
header {
    background-color: blueviolet;
>>>>>>> Cabecera
}